@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
	padding: 0;
    font-family: 'Inter', sans-serif;
}

/* ANIMATIONS */

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ALL PAGES SETTINGS */

body {
    display: flex;
    flex-direction: column;
	box-sizing: inherit;
	width: 100%;
    height: 100vh;
	/* overflow: hidden; */
}

a {
    text-decoration: none;
    color: white;
}

.head_box {
    display: flex;
    background-color: rgb(7, 7, 7);
    height: 80px;
    width: 100%;
    align-items: center; 
}


.hd_inbox {
    display: inline-grid;
    grid-template-columns: repeat(3, 33.3%);
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-btn-cart {
    width: 30px;
    height: 30px;
}

.btn_img_home {
    width: 100px;
    height: 60px;
}

.btn_cart {
    display: flex;
    justify-self: flex-end;
    margin-right: 10%;
}


.top_button {
    width: auto;
    text-align: center;
    font-size: 20px;
}



/* SIDEBAR */

.btn_sidebar {
    width: 40px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    background: none;
    margin-left: 5%;
}

.btn_sidebar span {
    width: 100%;
    height: 5px;
    margin: 2.5px;
    border-radius: 3px;
    background-color: aliceblue;
    transition: transform 0.2s ease-in-out;
}
  
.btn_sidebar span:nth-child(2) {
    width: 100%;
}

.sidebar {
	background-color: rgb(25, 25, 25);
	height: 100vh;
	left: -300px;
	position: absolute;
	top: 0;
	width: 300px;
	transition: left 0.5s;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar li {
	margin: 10px 0;
}

.sidebar a {
	color: #fff;
	display: block;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.2s;
}

.sidebar a:hover {
	background-color: #555;
}

.nohov {
    text-align: center;
}

.sidebar .nohov:hover {
    background-color: rgb(25, 25, 25);
}


/* HOME PAGE */

.main_cont {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 10% 55%;
    width: 100%;
    height: 100%;
}

.sort_cont {
    display: flex;
    grid-column: 2;
    place-self: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    padding: 10px;
}

.h1_text {
    text-align: center;
    font-size: 40px;
    border-radius: 8px;
    background-color: aliceblue;
    padding: 10px;
    height: 50px;
    width: 55%;
}

.item_row {
    display: flex;
    grid-row: 2;
}

.items {
    aspect-ratio: 41/50;
    margin: 5%;
    justify-self: center;
    background-color: aliceblue;
    grid-row: 2;
    border-radius: 8px;
    width: 70%;
    height: 85%;
}

.cl_link {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-cloth {
    margin-top: 15px;
    width: 75%;
    height: 100%;
}

.item_name, .item_price {
    text-align: center;
    margin: 2%;
}

.item_name {
    font-size: 30px;
}

.item_price {
    font-size: 25px
}

/* CLOTH PAGE*/

.main_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 10% 90%;
    margin: 0;
    width: 100%;
    height: 100%;
}

.item_image {
    width: 500px;
    height: 500px;
}

.link_tree {
    display: flex;
    margin-top: 30px;
    margin-left: 20%;
}

.pic_box {
    display: flex;
    grid-column: 1;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    background-color: aliceblue;
    border-radius: 15px;
}

/* .hd_text_box {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    margin-top: 0px;
} */

.hd_text {
    color: aliceblue;
    font-size: 45px;
    margin-bottom: 30px;
}

.back_link {
    margin-right: 5px;
}

.text_box {
    margin-left: 3%;
    grid-column: 2;
    grid-row: 2;
}

.price {
    color: aliceblue;
    font-size: 35px;
}

.size_list {
    display: flex;
    color: aliceblue;
    margin-top: 50px;
    border: 3px solid aliceblue;
    border-radius: 15px;
    height: auto;
    width: 540px;
    font-size: 30px;
    padding: 10px;
    
}

.lables {
    margin-left: 270px;
    justify-content: flex-end;
}

.span_text {
    font-size: 25px;
}

.add_cart_btn {
    display: flex;
    color: aliceblue;
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid aliceblue;
    cursor: pointer;
    justify-content: center;
    font-size: 25px;
    transition: background-color 0.5s ease-in;
    transition: color 0.2s ease-in;
    
    width: 566px;
    margin-top: 25px;
    padding: 10px;
}

.add_cart_btn:hover {
    background-color: aliceblue;
    color: black;
}

.dropdown_bottom {
    display: block;
    /* position: relative; */
    margin-top: 30px;
    width: 65%;
}

.btn_container {
    display: inline-block;
}

.content_container {
    display: flex;
}

.btn_description, .btn_delivery {
    cursor: pointer;
    background-color: transparent;
    color: aliceblue;
    border: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.btn_description:hover, .btn_delivery:hover {
    border-bottom: 3px solid aliceblue;
}

.dropdown_descript_content, .dropdown_delivery_content {
    display: none;
    color: aliceblue;
    font-size: 18px;
    margin: 10px;
    
}

.dropdown_descript_content.show, .dropdown_delivery_content.show {
    display: block;
    animation: fadeInDown 0.3s ease-in;
}

.li_desc {
    margin: 5px;
}

.active {
    border-bottom: 3px solid aliceblue;
}



/* SHOPPING CART */

.main_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 10%;
    padding-top: 1.5%;
    margin: 0;
    height: calc(100% - 1.5%);
    width: 100%;
    background-color: rgb(17, 17, 17);
}

.white_box {
    display: flex;
    justify-self: center;
    align-self: flex-start;
    overflow: auto;
    grid-row: 1;
    border-radius: 8px;
    background-color: aliceblue;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
}

.cart_box {
    width: 100%;
    margin: 10px;
    justify-content: center;
}

.cart_row_header {
    display: grid;
    grid-template-columns: 19% 41% 29%;
    width: 100%;
    text-align: right;
    margin-top: 50px;
}

.cart_header {
    margin: 5px;
}

.cart_row_footer {
    display: grid;
    grid-template-columns: 52.5% 30%;
    margin: 20px 0 20px 0;
    width: 100%;
    font-size: 25px;
}

.cart_text_total {
    font-weight: bold;
    text-align: right;
}

.cart_totalprice {
    text-align: left; 
    margin-left: 30px;
}

.cart_table {
    display: grid;
    margin-top: 15px;
    border-top: solid 1px black;
    width: 100%;
}

.cart_row {
    display: grid;
    grid-template-columns: 15% 10% 30% 10% 10% 10%;
    grid-template-rows: 1;
    justify-content: center;
    margin: 10px;
    width: 100%;
    align-items: center;
}

.cart_empty {
    margin-top: 5%;
    text-align: center;
}

.border_line {
    width: 100%;
    height: 5px;
    border-bottom: solid 1.5px rgb(211, 211, 211);
}

.cart_price {
    font-size: 30px;
    text-align: right;
}

.cart_quantity {
    border: 2px black solid;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    height: 35%;
    width: 60%;
    border-radius: 5px;
    justify-self: center;
}

.cart_size {
    border: 2px black solid;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    height: 35%;
    width: 60%;
    border-radius: 5px;
    justify-self: right;
}

.btn_remove {
    height: 60px;
    width: 160px;
    border-radius: 5px;
    border: solid 2px black;
    background-color: aliceblue;
    color: black;
}

.btn_remove:hover {
    cursor: pointer;
    border: solid 2px black;
    background-color: rgb(216, 70, 70);
    color: white;
}

.btn_payment_div {
    height: 100%;
    width: 100%;
}

.btn_payment {
    display: flex;
    justify-self: center;

    cursor: pointer;

    margin: 10px;
    height: 80%;
    width: 25%;

    border-radius: 5px;
    border: solid 2px black;
    background-color: aliceblue;

    color: black;
    font-size: 30px;
}

.btn_payment:hover {
    background-color: lightgreen;
}

.a_paylink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
    width: 100%; 
    height: 100%; 
    
}

/* ORDERING PAGE */

.ordering-container {
    overflow: auto;
}

.ordering-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
    border-radius: 5px;
}

#order_form {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 20%;
    width: 80%;
    /* height: 100%; */
    margin: 3% 0 3% 0;
    padding: 0 5% 0 5%;
    background-color: aliceblue;
}

.form-adress-title, .form-delivery-title {
    align-self: center;
    font-size: 35px;
}

.form-adress-title.checked, .form-delivery-title.checked {
    font-size: 25px;
    color: #555;
}

.form-adress, .form-delivery {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33.3%);
}

.form-delivery {
    grid-template-rows: 25% 50% 25%;
}

.comment {
    justify-self: center;
    grid-column: 1/5;
    width: 100%;
}

.input-field-container {
    display: none;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
    height: 80%;
}

.input-field {
    display: block;
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: solid 2px grey;
    transition: border-bottom 0.5s ease-in-out;
    /* border-left: solid 2px black; */
    background-color: transparent;
    padding-left: 5px;
    outline: none;
    font-size: 15px;
}

.input-field:focus {
    border-bottom: solid 2px black;
}

.input-field:hover {
    border-bottom: solid 2px black;
}

.btn-continue, .btn-continue-s, .ok  {
    display: none;
    width: 50%;
    height: 50%;
    justify-self: center;
    
    cursor: pointer;
    /* border-radius: 5px; */
    border: solid 2px black;
    background-color: aliceblue;
    color: black;
    font-size: 30px;

    transition: background-color 0.5s ease-in;
    transition: color 0.2s ease-in;
}

.btn-continue-s {
    height: 75%;
}

.ok {
    height: 100%;
    align-self: center;
}

.btn-continue.open, .btn-continue-s.open, .ok.open {
    display: block;
}

.btn-continue:hover, .btn-continue-s:hover, .ok:hover {
    background-color: rgb(17, 17, 17);
    color: aliceblue;
}

.appear {
    display: grid;
}

.contact-container {
    display: inline-flex;
    grid-row: 2;
}

.contact-data {
    margin: 10px;
}


/* MEDIA QUERIES */

@media screen and (1600px >= width > 1000px) {
    .items {
        max-height: 300px;
    }

    .h1_text {
        font-size: 25px;
        height: 40px;
    }

    .item_name {
        font-size: 25px;
    }
    
    .item_price {
        font-size: 20px
    }
}

@media screen and (1000px >= width > 700px) {
    .h1_text {
        width: 100%;
        font-size: 20px;
        height: 30px;
    }
    .item_name {
        margin-top: 20px;
        font-size: 20px;
    }
    
    .item_price {
        font-size: 20px
    }
}

@media screen and (700px >= width) {
    body {
        height: 100%;
    }

    .hd_inbox {
        grid-template-columns: repeat(3, 33.3%);
    }

    .main_cont {
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 10% 40% 40% 40% 10%;
    }

    .sort_cont {
        text-align: center;
        grid-column: 1;
        height: 80%;
        width: 80%;
    }
    
    .h1_text {
        padding: 0%;
        font-size: 25px;
        border-radius: 8px;
        width: 100%;
        height: 40px;
    }
    
    .items {
        grid-row: none;
        grid-column: 1;
        width: 300px;
        height: 300px;
    }

    .cloth1 {
        grid-row: 2;
    }
    .cloth2 {
        grid-row: 3;
    }
    .cloth3 {
        grid-row: 4;
    }
    
    .cl_link {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .img {
        width: 200px;
        height: 200px;
    }

    .item_name {
        margin-top: 25px;
        font-size: 20px;
    }
    
    .item_price {
        font-size: 20px
    }


    .main_container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 50% 20% 45%;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(17, 17, 17);
    }

    .link_tree {
        display: flex;
        margin: 0;
        place-self: center;
    }

    .back_link {
        margin-right: 5px;
    }
    
    .item_image {
        width: 100%;
        height: 100%;
    }
    
    .pic_box {
        display: flex;
        place-self: center;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 85%;
        background-color: aliceblue;
        border-radius: 15px;
        grid-row: 2;
    }

    .hd_text_box {
        display: flex;
        place-self: center;
        grid-column: 1;
        grid-row: 3;
        margin-top: 0px;
        width: 80%;
        height: 100%;
    }

    .hd_text {
        text-align: center;
        color: aliceblue;
        font-size: 30px ;
    }

    .text_box {
        margin: 0;
        grid-column: 1;
        grid-row: 4;
    }
    
    .price {
        text-align: center;
        color: aliceblue;
        font-size: 25px;
    }
    
    .size_list {
        display: flex;
        color: aliceblue;
        margin: 0;
        border: 3px solid aliceblue;
        border-radius: 15px;
        height: 40px;
        width: 80%;
        font-size: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .lables {
        margin-left: 10%;
        justify-content: flex-end;
    }
    
    .span_text {
        font-size: 15px;
    }
    
    .add_cart_btn {
        display: flex;
        color: aliceblue;
        background-color: transparent;
        border-radius: 15px;
        border: 3px solid aliceblue;
        cursor: pointer;
        
        justify-content: center;
        font-size: 25px;
        
        width: 80%;
        margin-top: 20px;
        padding: 10px;
    }
    
    .add_cart_btn:hover {
        background-color: aliceblue;
        color: black;
    }
}

@media screen and (700px >= height >= 400px) {
    .body {
        height: 100%;
        overflow: auto;
    }
    
}

/* GRID HOMEPAGE

.main_xbox {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(1, 100%);
    width: 100%;
    height: 100%;
}

.main_items_grid {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(1, 55%);
    grid-column-gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 7%;
}

.grid_item {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    opacity: 0.7;
    width: 80%;
    height: 80%;
    transition: transform 0.25s ease-in-out;
}

.grid_item:hover {
    opacity: 1.0;
    transform: scale(1.2);
}

.btn_link {
    width: 100%;
    height: 100%;
}


/* OLD HOMEPAGE

.main_box {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(1, 90%);
    grid-template-areas: "pic_container text_container";
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main_img {
    width: 700px;
    height: 300px;
}

.pic_cont {
    display: flex;
    grid-area: pic_container;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: 30px;
    justify-content: center;
}

.text_cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    grid-area: text_container;
    color: aliceblue;
    width: 90%;
    height: 90%;
}

.h1_cont {
    color: aliceblue;
    display: flex;
    align-items: end;
    margin: 30px;
    margin-bottom: 0px;
}

.head_h {
    padding: 5px;
    padding-bottom: 10px;
    font-size: 40px;
}

.main_text {
    border-radius: 15px;
    padding: 5px;
    font-size: 22px;
    text-align: justify;
}
*/

.alert-window {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    place-self: center;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.alert-window.show {
    animation: fadeIn 0.1s ease-in;
    display: flex;
    opacity: 1;
}

.alert-window-nosize {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: aliceblue;
    color: black;
    place-self: center;
    margin-bottom: 5%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.alert-window-nosize.show {
    animation: fadeIn 0.1s ease-in;
    display: flex;
    opacity: 1;
}

.btn-close-alert-nosize {
    color: black;
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.alert-window-exists {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: aliceblue;
    color: black;
    place-self: center;
    margin-bottom: 5%;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.alert-window-exists.show {
    animation: fadeIn 0.1s ease-in;
    display: flex;
    opacity: 1;
}

.btn-close-alert-exists {
    color: black;
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.alert-text {
    margin-top: 10%;
}

.close-alert {
    display: flex;
    place-content: flex-end;
    width: 100%;
}

.btn-close-alert {
    color: aliceblue;
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.alert-window-incart {
    display: none;
    position: absolute;
    background-color: rgb(120, 255, 120);
    align-self: flex-end;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: center;
}

.alert-window-incart.show {
    animation: fadeIn 0.1s ease-in;
    display: flex;
    opacity: 1;
}

.alert-text-incart {
    font-size: 20px;
}

.invalid-red-input {
    border-bottom: solid 2px red;
}
